:root{
  --padPosY: 200px;
}

#gameWindow{
  outline:1px solid black;
  height: 70vh;
  width: 70vw;
  margin-left:15vw;
  margin-top:10vh;
}

#pad{
  width:0.5vw;
  height: 10vh;
  background: red;
  margin-left: 2vw;
}

#botPad{
  width:0.5vw;
  height: 10vh;
  margin-top: 0px;
  background: red;
  margin-left: 67.5vw;
}

#ball{
  display: block;
  background: black;
  border-radius: 50%;
  height: 2vh;
  width: 2vh;
}

.split{
  display: block;
  background: rgb(0, 98, 255);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

h1{
  position: relative;
}

h2{
  position: relative;
}

#container{
  position: relative;
}

#ability{
  color: red;
}